In [3]:
import pandas as pd

data=pd.read_csv('http://bit.ly/ld-sample-idol', index_col='순위')

data.head()

      이름     그룹  소속사  성별        생년월일      키 혈액형   브랜드평판지수
순위
1     지민  방탄소년단  빅히트  남자  1995-10-13  173.6   A  10523260
2   지드래곤     빅뱅   YG  남자  1988-08-18  177.0   A   9916947
3   강다니엘    NaN  커넥트  남자  1996-12-10  180.0   A   8273745
4      뷔  방탄소년단  빅히트  남자  1995-12-30  178.0  AB   8073501
5     화사    마마무  RBW  여자  1995-07-23  162.0   A   7650928

# 1. 기초 산술통계

info() : 간단한 정보
describe() : 산술 통계 정보
isull() : 결측값 확인
sum() : 합산
value_counts() : 데이터의 종류별 갯수

# 2. 고급 산술통계

groupby() : 특정 column으로 데이터를 뽑기
or
pibot_table

# 3. 전처리

replace() : 데이터를 다른 값으로 일괄 적용
fillna() : 
map()

# 4. 조건 필터링

loc
& |