# 0. 분석 모듈 불러오기

In [3]:
import pandas as pd

# 1. 데이터 불러오기

In [5]:
data=pd.read_csv('http://bit.ly/ld-sample-idol', index_col='순위')
#or
#data=pd.read_csv('http://bit.ly/ld-sample-idol', index_col='순위')
data.head()

      이름     그룹  소속사  성별        생년월일      키 혈액형   브랜드평판지수
순위
1     지민  방탄소년단  빅히트  남자  1995-10-13  173.6   A  10523260
2   지드래곤     빅뱅   YG  남자  1988-08-18  177.0   A   9916947
3   강다니엘    NaN  커넥트  남자  1996-12-10  180.0   A   8273745
4      뷔  방탄소년단  빅히트  남자  1995-12-30  178.0  AB   8073501
5     화사    마마무  RBW  여자  1995-07-23  162.0   A   7650928

In [5]:
data.set_index('순위')

      이름     그룹      소속사  성별        생년월일      키 혈액형   브랜드평판지수
순위
1     지민  방탄소년단      빅히트  남자  1995-10-13  173.6   A  10523260
2   지드래곤     빅뱅       YG  남자  1988-08-18  177.0   A   9916947
3   강다니엘    NaN      커넥트  남자  1996-12-10  180.0   A   8273745
4      뷔  방탄소년단      빅히트  남자  1995-12-30  178.0  AB   8073501
5     화사    마마무      RBW  여자  1995-07-23  162.0   A   7650928
6     정국  방탄소년단      빅히트  남자  1997-09-01  178.0   A   5208335
7     민현   뉴이스트     플레디스  남자  1995-08-09  182.0   O   4989792
8     소연    아이들       큐브  여자  1998-08-26  157.0   B   4668615
9      진  방탄소년단      빅히트  남자  1992-12-04  179.0   O   4570308
10   하성운     핫샷  스타크루이엔티  남자  1994-03-22  167.0   A   4036489
11    태연   소녀시대       SM  여자  1989-03-09  160.0   A   3918661
12   차은우   아스트로     판타지오  남자  1997-03-30  183.0   B   3506027
13    백호   뉴이스트     플레디스  남자  1995-07-21  175.0  AB   3301654
14    JR   뉴이스트     플레디스  남자  1995-06-08  176.0   O   3274137
15    슈가  방탄소년단      빅히트  남자  1993-03-09  174.0   O   2925442

# 2. 데이터 처리하기

In [7]:
data['이름']
# or
# data.이름

0       지민
1     지드래곤
2     강다니엘
3        뷔
4       화사
5       정국
6       민현
7       소연
8        진
9      하성운
10      태연
11     차은우
12      백호
13      JR
14      슈가
Name: 이름, dtype: object

## 1. row 선택

In [17]:
data.iloc[3]
#or
#data.loc[3]

순위                  4
이름                  뷔
그룹              방탄소년단
소속사               빅히트
성별                 남자
생년월일       1995-12-30
키               178.0
혈액형                AB
브랜드평판지수       8073501
Name: 3, dtype: object

In [18]:
select=[1,3,5,7,9]

data.iloc[select]

   순위    이름     그룹      소속사  성별        생년월일      키 혈액형  브랜드평판지수
1   2  지드래곤     빅뱅       YG  남자  1988-08-18  177.0   A  9916947
3   4     뷔  방탄소년단      빅히트  남자  1995-12-30  178.0  AB  8073501
5   6    정국  방탄소년단      빅히트  남자  1997-09-01  178.0   A  5208335
7   8    소연    아이들       큐브  여자  1998-08-26  157.0   B  4668615
9  10   하성운     핫샷  스타크루이엔티  남자  1994-03-22  167.0   A  4036489

In [19]:
data.iloc[[1,3,5,7,9]]

   순위    이름     그룹      소속사  성별        생년월일      키 혈액형  브랜드평판지수
1   2  지드래곤     빅뱅       YG  남자  1988-08-18  177.0   A  9916947
3   4     뷔  방탄소년단      빅히트  남자  1995-12-30  178.0  AB  8073501
5   6    정국  방탄소년단      빅히트  남자  1997-09-01  178.0   A  5208335
7   8    소연    아이들       큐브  여자  1998-08-26  157.0   B  4668615
9  10   하성운     핫샷  스타크루이엔티  남자  1994-03-22  167.0   A  4036489

## 2. col select

In [21]:
data['이름']

0       지민
1     지드래곤
2     강다니엘
3        뷔
4       화사
5       정국
6       민현
7       소연
8        진
9      하성운
10      태연
11     차은우
12      백호
13      JR
14      슈가
Name: 이름, dtype: object

In [24]:
data['이름'].iloc[3]

'뷔'

In [25]:
data['이름'].iloc[3:7]

3     뷔
4    화사
5    정국
6    민현
Name: 이름, dtype: object

In [27]:
data['이름'].iloc[[1,3,5,7,9]]

1    지드래곤
3       뷔
5      정국
7      소연
9     하성운
Name: 이름, dtype: object

In [6]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 15 entries, 1 to 15
Data columns (total 8 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   이름       15 non-null     object
 1   그룹       14 non-null     object
 2   소속사      15 non-null     object
 3   성별       15 non-null     object
 4   생년월일     15 non-null     object
 5   키        15 non-null     float64
 6   혈액형      15 non-null     object
 7   브랜드평판지수  15 non-null     int64
dtypes: float64(1), int64(1), object(6)
memory usage: 1.1+ KB

In [7]:
data.describe()

                키       브랜드평판지수
count   15.000000  1.500000e+01
mean   173.440000  5.655856e+06
std      8.130437  2.539068e+06
min    157.000000  2.925442e+06
25%    170.300000  3.712344e+06
50%    176.000000  4.668615e+06
75%    178.500000  7.862214e+06
max    183.000000  1.052326e+07

In [10]:
print(data['그룹'].isnull())
data['그룹'].isnull().sum()

순위
1     False
2     False
3      True
4     False
5     False
6     False
7     False
8     False
9     False
10    False
11    False
12    False
13    False
14    False
15    False
Name: 그룹, dtype: bool

1